CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

[Bb]uild/
[Bb]uild_xcode/

.DS_Store
release

resources/models/bistro
